.advantages {
  text-align: center;
  padding: 110px 163px 102px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 84px 54px 95px 45px;
  }

  @include vp-767 {
    padding: 63px 0;
  }

  h2 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 2px;
    color: $color-sapphire;

    margin: 0 0 53px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 65px;
      padding: 0 10px 0 22px;
      letter-spacing: 1px;

      margin: 0 0 42px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 1px;
      padding: 0;
      margin: 0 0 10px;
    }
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;

  max-width: 1040px;
  margin: 0 auto;

  padding: 0;

  column-gap: 40px;
  row-gap: 135px;
  list-style-type: none;

  @include vp-1199 {
    grid-template-rows: 1fr 243px 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 669px;

    column-gap: 40px;
    row-gap: 45px;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__item {
  display: flex;

  @include vp-767 {
    display: block;
    padding: 40px 20px 2px;
  }
}

.advantages__title {
  padding: 0 19px;
  margin-right: 11px;

  @include vp-1199 {
    padding: 0;
    margin-right: 30px;
  }

  @include vp-767 {
    margin: 0 0 13px;
  }

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 71px;
    line-height: 55px;
    background-image: linear-gradient(160.51deg, $color-crimson 0%, $color-cobalt-secundary 87.33%);
    color: transparent;
    background-clip: text;

    margin: 0 auto 3px;

    @include vp-1199 {
      font-size: 58px;
      line-height: 44px;
    }

    @include vp-767 {
      margin: 0 0 1px;
    }
  }
}

.advantages__additional {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-persian-blue;

  display: block;
  text-align: left;

  @include vp-767 {
    display: inline;
  }

  &--custom {
    color: $color-default-white;

    font-size: 26px;
    line-height: 39px;
    padding: 0;
    margin: 0 0 33px;
    display: block;
    text-align: center;

    @include vp-1199 {
      font-size: 22px;
      padding: 0 6px 0 15px;
      margin: 0 0 11px;
    }

    @include vp-767 {
      padding: 0;
      margin: 0 0 8px;
    }
  }
}

.advantages__description {
  text-align: left;

  @include vp-767 {
    text-align: center;
  }

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: $color-sapphire;

    margin: 0 0 10px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 14px;
    }
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: $color-sapphire;

    margin: 0;
  }
}

.advantages__item--custom {
  position: relative;

  color: $color-default-white;

  display: block;
  padding: 62px 30px;
  margin: 1px 0 25px 0;
  flex-direction: column;
  justify-content: center;

  grid-column-start: 2;
  grid-row: 1 / 3;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    margin: 0 108px 3px 118px;
    padding: 42px 20px 10px 10px;
    grid-column: 1 / 3;
    grid-row-start: 2;
  }

  @include vp-767 {
    padding: 46px 20px 43px;
    margin: 43px 0 7px;
  }

  &::before {
    position: absolute;
    top: calc(50% - 2px);
    right: 300px;

    width: 340px;
    height: 2px;

    background: $color-venetian-red-opacity;
    content: "";

    @include vp-1199 {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: calc(50% - 2px);
    left: 300px;

    width: 340px;
    height: 2px;

    background: $color-venetian-red-opacity;
    content: "";

    @include vp-1199 {
      display: none;
    }
  }
}

.advantages__title--custom {
  margin: 0;

  h3 {
    color: $color-default-white;
    letter-spacing: 2px;

    padding: 0 10px 0 6px;
    margin: 0 0 14px;
    text-align: center;

    @include vp-1199 {
      font-size: 74px;
      line-height: 55px;
      letter-spacing: 0;

      padding: 0 10px 0 14px;
      margin-bottom: 6px;
    }

    @include vp-767 {
      padding: 0 13px 0 10px;
      margin: 0 0 2px;
      line-height: 55px;
    }
  }
}

.advantages__description--custom {
  text-align: center;

  p {
    color: $color-default-white;

    @include vp-1199 {
      padding: 0 10px 0 15px;
      line-height: 23px;
    }

    @include vp-767 {
      padding: 0;
    }
  }
}
