.contacts {
  padding: 42px 67px 44px 121px;
  border-top: 1px $color-light-slate-grey solid;

  @include vp-1199 {
    padding: 61px 67px 44px 130px;
  }

  @include vp-767 {
    padding: 63px 12px 43px;
  }

  .contacts__item {
    display: inline-block;
    margin: 0 0 18px;

    @include vp-767 {
      display: block;
      margin: 0 0 19px;
    }
  }

  h2 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 53px;
    line-height: 96px;
    color: $color-sapphire;
    letter-spacing: 2px;

    margin: 0 0 21px;

    @include vp-1199 {
      line-height: 51px;
      font-size: 40px;
      margin: 0 3px 31px;
    }

    @include vp-767 {
      line-height: 38px;
      font-size: 32px;
      letter-spacing: 1px;

      margin: 0 3px 34px;
    }
  }

  dl {
    position: relative;

    max-width: 489px;
    margin: 0 3px;
    column-count: 2;
    column-gap: 90px;

    &::before {
      position: absolute;
      top: 5px;
      right: 28px;
      left: 0;

      width: 1px;
      height: 77%;
      margin: auto auto;

      background-color: $color-light-slate-grey;
      content: "";
    }

    @include vp-1199 {
      max-width: 565px;
      column-gap: 63px;

      &::before {
        top: 8px;
        right: 32px;
        height: 80%;
      }
    }

    @include vp-767 {
      column-count: 1;

      &::before {
        display: none;
      }
    }
  }

  dt {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $color-sapphire;

    margin: 0 0 3px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 5px;
    }
  }

  dd {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-sapphire;

    margin: 0;

    @include vp-1199 {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
