.hero__description {
  display: flex;
  justify-content: space-between;
  width: 377px;
  height: 524px;
  padding: 97px 0 27px;
  margin-right: 63px;
  flex-wrap: wrap;

  @include vp-1199 {
    padding: 0;

    display: grid;
    grid-template-columns: 113px 211px;
    grid-template-rows: 284px 62px;
    align-self: start;
    row-gap: 21px;
    height: auto;
    margin-right: 24px;
  }

  @include vp-767 {
    position: relative;

    width: auto;
    grid-template-columns: 113px 180px;
    grid-template-rows: 284px 63px;
    row-gap: 9px;
  }

  h1 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 111px;
    text-align: right;
    color: $color-default-white;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    margin: 0 0 50px;

    @include vp-1199 {
      font-size: 76px;
      line-height: 86px;
      text-transform: none;
      letter-spacing: 2px;

      width: 206px;
      padding: 0 3px;
      margin: 54px 0 10px;
      align-self: center;
    }

    @include vp-767 {
      font-size: 77px;
      letter-spacing: 1px;

      margin: 54px 0 10px auto;
      padding: 0 8px;
      grid-column: 1 / 3;
    }
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-default-white;
    text-align: right;

    margin: 0 0 85px;
    align-self: end;
    order: -1;

    @include vp-1199 {
      margin: 0 0 35px;
    }

    @include vp-767 {
      position: absolute;
      bottom: 0;
      margin: 0 0 117px;
    }
  }
}

.hero__additional {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 3px;

  display: block;
  padding: 0 50px;
  margin: 0 0 11px;

  @include vp-1199 {
    font-size: 29px;
    line-height: 24px;
    letter-spacing: 2px;

    padding: 0;
    margin: 0 0 12px;
  }

  @include vp-767 {
    font-size: 21px;
    line-height: 24px;
    margin: 0 0 16px;
  }
}

.hero__button {
  display: inline-block;
  padding: 19px 56px;
  margin-left: auto;
  align-self: center;

  @include vp-1199 {
    line-height: 14px;
    grid-column: 1 / 3;
    margin-right: 3px;
    padding: 20px 33px;
  }

  @include vp-767 {
    width: 100%;
    padding: 20px 39px;
    margin: 0;

    text-align: center;
  }
}

.hero__image {
  @include vp-1199 {
    min-width: 324px;
    min-height: 390px;
  }

  @include vp-767 {
    display: none;
  }
}
