.promo {
  position: relative;

  display: grid;
  grid-template-columns: 355px 1fr;
  grid-template-rows: 1fr 130px;
  max-width: 1366px;
  padding: 120px 103px 105px 163px;
  margin: 0 auto;

  column-gap: 85px;

  @include vp-1199 {
    display: block;
    padding: 100px 45px 16px;

    img {
      margin: 0 auto;
    }
  }

  @include vp-767 {
    padding: 70px 0;

    img {
      display: block;
      margin: 0 0 40px;
    }
  }
}

.promo__description {
  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    padding: 0 15px;
    text-align: start;
  }

  h2 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 57px;
    letter-spacing: 2px;
    color: $color-sapphire;

    margin: 40px 0 7px;

    @include vp-1199 {
      font-size: 41px;
      line-height: 50px;

      margin: 0;
    }

    @include vp-767 {
      font-size: 33px;
      line-height: 27px;
      letter-spacing: 1px;
      padding: 0;
      margin: 0 0 10px;
    }
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-sapphire;

    margin: 0;

    @include vp-1199 {
      &:last-child {
        display: none;
      }
    }

    &:not(:last-child) {
      margin: 0 0 8px;

      @include vp-1199 {
        margin: 0 60px 43px;
      }

      @include vp-767 {
        margin: 0 0 33px;
        padding: 0 30px 0 0;
      }
    }
  }
}

.promo__additional {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-sapphire;

  display: inline-block;
  margin: 0 0 39px;

  @include vp-1199 {
    margin: 0 0 34px;
  }

  @include vp-767 {
    margin: 0 0 24px;
  }
}

.promo__image {
  height: 401px;
  object-fit: cover;

  @include vp-1199 {
    height: 100%;
  }

  @include vp-767 {
    width: 100%;
    height: 313px;
    object-fit: cover;
  }
}

.promo__video {
  grid-column: 2 / 3;
  margin: 0;
}
