.slider-reviews {
  width: 560px;
  margin: 0 auto;

  box-shadow: 0 0 40px 0 $color-japanese-laurel;
  overflow: hidden;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.slider-reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-reviews__item-content {
  color: $color-default-white;

  display: grid;
  grid-template-columns: 80px 1fr;
  min-height: 242px;
  padding: 62px 62px 56px;
  margin: 0 auto;

  column-gap: 28px;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    padding: 62px 65px 56px;
  }

  @include vp-767 {
    min-height: 335px;
    padding: 40px 25px 35px;
    column-gap: 15px;
    row-gap: 12px;
    grid-template-columns: 84px 1fr;
  }

  picture {
    grid-row: span 2;

    @include vp-767 {
      width: 68px;
      height: 68px;
      margin-left: auto;
    }
  }

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;

    margin: 0 0 16px;

    @include vp-767 {
      margin: 8px 0 0 0;
      line-height: 26px;
    }
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    margin: 0;

    @include vp-767 {
      grid-column: span 2;
      text-align: center;
    }
  }
}
