.subscriptions {
  position: relative;

  text-align: center;
  padding: 121px 103px 120px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 101px 163px 60px;
  }

  @include vp-767 {
    padding: 64px 15px 35px;
  }

  h2 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 2px;
    color: $color-sapphire;

    margin: 0 0 7px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1px;

      margin: 0 0 10px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 11px;
    }
  }

  &::after {
    position: absolute;
    top: 69%;
    right: 0;

    width: 287px;
    height: 332px;

    background-image: url("../img/subscriptions/disc-desktop.png");
    background-repeat: no-repeat;
    background-position: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/subscriptions/disc-desktop.png@2x.png");
    }

    @include vp-1199 {
      top: 85%;

      width: 347px;
      height: 340px;

      background-image: url("../img/subscriptions/disc-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/subscriptions/disc-tablet.png@2x.png");
      }
    }

    @include vp-767 {
      display: none;
    }

    content: "";
  }
}
