.super-games {
  display: flex;
  max-width: 1366px;
  padding: 120px 103px 60px;
  margin: 0 auto;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr 386px;
    padding: 100px 45px 50px;
  }

  @include vp-767 {
    display: block;
    padding: 70px 15px 25px;
  }
}

.super-games__description {
  display: grid;
  grid-template-columns: 201px 92px;
  grid-template-rows: 79px 79px 1fr auto;
  padding: 72px 79px 85px;

  column-gap: 49px;
  row-gap: 15px;

  background-color: $color-torch-red;

  @include vp-1199 {
    padding: 35px 37px 44px 45px;
    grid-template-columns: 124px 1fr;
    grid-template-rows: 52px 55px 1fr 1fr;
    column-gap: 23px;
    row-gap: 0;
  }

  @include vp-767 {
    column-gap: 21px;
  }

  h2 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 79px;
    letter-spacing: 3px;
    color: $color-default-white;
    text-transform: uppercase;

    margin: 11px 0 0;
    padding: 2px 12px;

    grid-row: 1 / 3;

    @include vp-1199 {
      font-size: 48px;
      line-height: 47px;
      letter-spacing: 1px;
      padding: 3px 8px;
    }
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: $color-default-white;

    margin: 11px 0 0;

    grid-column: 1 / 3;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }

    @include vp-767 {
      margin: 11px 0 24px;
    }
  }
}

.super-games__link {
  display: inline-block;
  text-align: center;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 24px 0;
  margin: 0;

  grid-column: 1 / 3;

  @include vp-1199 {
    letter-spacing: 0;

    width: 97%;
    height: auto;
    padding: 11px 36px;

    border: 2px $color-default-white solid;
  }
}

.super-games__date {
  position: relative;
  margin: 12px 0 0;

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $color-default-white;

    margin: 0;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $color-default-white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77px;
    margin: 0;

    @include vp-1199 {
      font-size: 24px;
      line-height: 34px;
      width: 63px;
    }
  }
}

.super-games__additional {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $color-default-white;

  display: block;
  width: 50px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    width: 47px;
  }
}

.super-games__date::after {
  position: absolute;
  top: 28px;
  right: 28px;

  width: 64px;
  height: 1px;

  background-color: $color-default-white;

  content: "";

  @include vp-1199 {
    top: 19px;
    left: 0;
    width: 41px;
  }
}

.super-games__time {
  position: relative;
  margin: 12px 0 0;

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0;

    color: $color-default-white;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $color-default-white;

    margin: 0;

    @include vp-1199 {
      font-size: 24px;
      line-height: 34px;
    }
  }
}

.super-games__time::after {
  position: absolute;
  top: 30px;
  right: 4px;

  width: 88px;
  height: 1px;

  background-color: $color-default-white;

  content: "";

  @include vp-1199 {
    top: 20px;
    left: 0;
    width: 55px;
  }
}

.super-games__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1199 {
    height: 292px;
  }
}
