.trainers {
  max-width: 1366px;
  padding: 46px 0 105px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 51px 0 100px;
  }

  @include vp-767 {
    padding: 39px 0 70px;
  }

  h2 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 2px;
    color: $color-sapphire;

    padding: 0 104px;
    margin: 0 0 49px;

    @include vp-1199 {
      text-align: center;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1px;

      margin: 0 0 31px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 42px;
    }
  }
}

.trainers__slider-wrapper {
  position: relative;
  padding: 0 103px;

  @include vp-1199 {
    padding: 0 102px;
  }

  @include vp-767 {
    padding: 0 47px;
  }
}

.trainers__navigation {
  position: absolute;
  top: 40%;
  right: 2%;

  display: flex;
  justify-content: space-between;
  width: 96%;
  height: 0;
  z-index: 10;

  @include vp-1199 {
    right: 3%;
    width: 94%;
  }

  @include vp-767 {
    right: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 0;
  }
}

.trainers__arrow {
  position: relative;
  background-color: transparent;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;

  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-767 {
    width: 40px;
    height: 100%;
    border-radius: 0;
    z-index: 2;
  }

  @include hover-focus {
    outline: 1px $color-dark-gray solid;
  }

  @include active-button {
    background-color: $color-sapphire;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }

  &:disabled {
    opacity: 0.3;
    cursor: initial;
  }

  &::before {
    position: absolute;
    height: 1px;
    background-color: $color-dark-gray;
    content: "";
  }

  &::after {
    position: absolute;
    height: 1px;
    background-color: $color-dark-gray;
    content: "";
  }

  &--prev {
    &::before {
      top: 20px;
      left: 16px;
      width: 22px;
      transform: rotate(-45deg);

      @include vp-767 {
        top: 132px;
        left: auto;
        width: 14px;
      }
    }

    &::after {
      top: 36px;
      left: 15px;
      width: 23px;
      transform: rotate(45deg);

      @include vp-767 {
        top: 141px;
        left: auto;
        width: 14px;
      }
    }
  }

  &--next {
    &::before {
      top: 21px;
      left: 18px;
      width: 22px;
      transform: rotate(45deg);

      @include vp-767 {
        top: 132px;
        left: auto;
        width: 14px;
      }
    }

    &::after {
      position: absolute;
      top: 36px;
      left: 18px;
      width: 22px;
      transform: rotate(-45deg);

      @include vp-767 {
        top: 141px;
        left: auto;
        width: 14px;
      }
    }
  }
}
