.video {
  position: relative;
  bottom: 113px;
  left: 9px;

  width: 364px;
  height: 228px;

  z-index: 1;

  @include vp-1199 {
    bottom: 84px;
    left: 0;

    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    bottom: 0;
    width: auto;
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;

    @include vp-1199 {
      width: 266px;
      height: 167px;
    }

    @include vp-767 {
      width: 100%;
      height: 100%;
    }
  }
}

.video__prview {
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;

    background: $color-atoll-opacity;
    width: 100%;
    height: 100%;

    content: "";
    z-index: 0;
  }

  @include vp-767 {
    picture {
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 167px;
      object-fit: cover;
    }
  }
}

.video__button-play {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 72px;
  height: 72px;
  margin: auto;

  background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
  border: none;
  padding: 10px;

  border-radius: 50%;

  cursor: pointer;
  z-index: 2;

  &::after {
    position: absolute;

    width: 100px;
    height: 100px;

    background: linear-gradient(97.05deg, $color-crimson-opacity 17.6%, $color-cobalt-secundary-opacity 95.31%) border-box;
    border-radius: 50%;
    border: 2px solid transparent;

    mask: linear-gradient($color-default-white 0 0) padding-box, linear-gradient($color-default-white 0 0);
    mask-composite: xor;

    content: "";
    z-index: 3;

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }
  }

  @include hover-focus {
    background: $color-default-white;
    cursor: pointer;

    svg {
      fill: $color-sapphire;
    }

    &::after {
      background: linear-gradient(97.05deg, $color-sapphire 17.6%, $color-sapphire 95.31%) border-box;
    }
  }

  @include active-button {
    width: 58px;
    height: 58px;
    background: $color-default-white;

    cursor: pointer;

    svg {
      fill: $color-sapphire;
    }

    &::after {
      background: linear-gradient(97.05deg, $color-sapphire 17.6%, $color-sapphire 95.31%) border-box;
    }
  }

  &:disabled {
    background: $color-default-white;
    opacity: 0.6;
    cursor: initial;

    svg {
      fill: $color-sapphire;
    }

    &::after {
      background: linear-gradient(97.05deg, $color-sapphire 17.6%, $color-sapphire 95.31%) border-box;
    }
  }

  @include vp-1199 {
    bottom: 1px;
    right: 2px;

    width: 52px;
    height: 52px;
  }

  svg {
    fill: $color-default-white;

    @include vp-1199 {
      width: 9px;
      height: 12px;
    }
  }

  @include vp-767 {
    left: 3px;
  }
}
